.todo-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 400px;
    text-align: center;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1{
    color:rgb(49, 49, 49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
button{
   background-color:transparent;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   width:60px;
   transition:all 1s fade ;
   margin-left:10px;
   -webkit-transition:all 1s fade ;
   -moz-transition:all 1s fade ;
   -ms-transition:all 1s fade ;
   -o-transition:all 1s fade ;
   border:1px solid;
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform:scale(1.05) ;
    -webkit-transform:scale(1.05) ;
    -moz-transform:scale(1.05) ;
    -ms-transform:scale(1.05) ;
    -o-transform:scale(1.05) ;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
li{
    margin:8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li label span{
    margin-left: 4px;
}
.deleteBut{
    margin:20;
    padding:0;
    width: 20px;
    display: inline-block;
}